[2018-03-10 20:47] apowers313 opened #1 "load MDS data"
Support functions for loading and validating MDS data, and using MDS data for validating cert chains.

[2018-03-10 20:48] apowers313 opened #2 "register attestation format"
Make attestation formats into modules that can be registered -- enables loading of new attestation formats. Existing attestation formats should use this interface, but should probably be included by default. Also include a function to deregister attestation formats (so that default formats can be unloaded).

[2018-03-10 20:49] apowers313 opened #3 "register exension"
API for registering new extensions (e.g. - AppID, geo, etc.)

[2018-03-10 21:26] apowers313 opened #4 "error types"
Create new error types for parsing, validation errors, so that server can return right HTTP status code depending on the type of failure.

[2018-03-23 01:02] apowers313 opened #5 "U2F attestation"
Add fido-u2f attestation support

[2018-03-31 15:10] #5 closed

[2018-03-31 15:12] apowers313 opened #6 "Deregister attestation format"
Add an interface for removing default attestation formats (such as `none` and `fido-u2f`).

[2018-03-31 15:12] #2 closed

[2018-03-31 15:35] apowers313 opened #7 "Routes for conformance testing"
Add routes / message formats for conformance testing. Add a feature for enabling / disabling those routes.

[2018-03-31 15:38] apowers313 opened #8 "AppID extension"
Add AppID extension

[2018-05-13 18:17] davedoesdev opened #10 "Doesn't install on Node 10"
Because of https://github.com/PeculiarVentures/node-webcrypto-ossl/issues/121

[code]

[2018-05-14 07:31] davedoesdev commented on #10
This is in the process of being fixed at https://github.com/PeculiarVentures/node-webcrypto-ossl

[2018-05-20 21:55] davedoesdev opened #11 "Possible stack attack"
This line:

https://github.com/apowers313/fido2-lib/blob/master/lib/parser.js#L102

[code]

Won't this bust the stack if `clientDataJSON` is long? Since this is client-supplied data, perhaps its length should be sanity checked?

[2018-05-25 23:39] apowers313 commented on #11
Good question, I’ll take a look at rewriting it. And thanks for the review.

[2018-06-03 15:03] apowers313 commented on #11
Quick demo code to prove that this is actually problem:

[code]

Results in:

    at Object.<anonymous> (/Users/apowers/Projects/proto/stack-attack/test.js:4:37)
    at Module._compile (module.js:643:30)
    at Object.Module._extensions..js (module.js:654:10)
    at Module.load (module.js:556:32)
    at tryModuleLoad (module.js:499:12)
    at Function.Module._load (module.js:491:3)
    at Function

[2018-06-03 15:18] apowers313 opened #12 "Max input string length"
Input strings should have a reasonable maximum length.

See also #11.

[2018-06-04 03:06] #11 closed

[2018-06-04 06:41] #7 closed

[2018-06-05 21:31] davedoesdev opened #13 "attestationResult docs"
The docs say this takes `response.authenticatorData`. Should it be `response.attestationObject` ?

[2018-06-11 06:30] apowers313 commented on #13
Thanks for the heads up. Fixed in de4e23c10f636d83f25501ce48ae5c115c2944b6

[2018-06-11 06:30] #13 closed

[2018-06-13 00:38] apowers313 opened #14 "New fields in clientDataJSON"
`clientDataJson` in Chrome Canary Version 68.0.3438.3 now has a `hashAlgorithm` property. Should use this field if it is present.

[code]

[2018-06-13 08:55] Triton-oidc commented on #10
Hi, just for information, I'm having the same issue.
I found another tool to do my POC so no worries.
npm --version
3.5.2
node --version
v8.10.0
Thanks for the tool

[2018-06-14 05:19] apowers313 commented on #10
@davedoesdev -- was [this the issue](https://github.com/PeculiarVentures/node-webcrypto-ossl/issues/121) that fixed it?

It looks like the solution might be to update to node v9 or later?

[2018-06-14 05:40] davedoesdev commented on #10
Yes, that was the issue. The changes were ifdef'd:

[code]

So I think Node v10 or later is required. Did Node v8 start using OpenSSL v1.1.0?

[2018-06-14 05:45] davedoesdev commented on #10
You can see the tests passing on Node v8.11.1 [here](https://travis-ci.org/PeculiarVentures/node-webcrypto-ossl/jobs/378666037)

[2018-06-14 05:48] davedoesdev commented on #10
Installs fine on Node v8.11.3:

[code]

[2018-06-14 05:52] apowers313 commented on #10
Seems to work fine on node 8, 9, 10:
https://travis-ci.org/apowers313/fido2-lib/builds/392094313

[2018-06-14 06:01] davedoesdev commented on #10
@Triton-oidc could you supply a `npm ls` output?

[2018-06-20 07:26] YuryStrozhevsky opened #15 "Incorrect function"
Seems you at least incorrectly named [this function](https://github.com/apowers313/fido2-lib/blob/master/lib/certUtils.js#L78). And in order to get `serialNumber` would could use this code:
[code]
or this one:
[code]

[2018-06-20 07:36] YuryStrozhevsky commented on #15
And having this is not a good idea :)
[code]
It is not a good idea because no one could be 100% sure that first element in `typesAndValues` would be able to be represented as string. Yes, in most cases you would get no problems. But anyway I do suggest you to at least search for `commonName` OID and return its string represemtation in your `getIssuer` function.

[2018-06-23 15:00] apowers313 commented on #10
Closing this in favor of apowers313/fido2-server-demo#5

[2018-06-23 15:40] apowers313 commented on #15
Thanks for the review and the feedback. I'll go back and make your recommended changes.

I have to admit that trying to figure out how to interpret values from the certs has been a trial-and-error process. Half of that has been trying to understand the data structure created by `pki.js` -- it's not entirely clear to me how to get to the values for the different fields -- although I think I have le

[2018-06-23 16:27] YuryStrozhevsky commented on #15
Documentation for such a huge code would be a nightmare :) But I will consider this for sure.

[2018-06-27 05:08] apowers313 commented on #1
This feature has been added, but can't be validated until an authenticator with an AAGUID is registered in MDS.

[2018-06-27 05:09] apowers313 commented on #8
This feature has been created, but the primary use case for the AppID extension is to migrate from U2F. Since this server doesn't support U2F, it's difficult to come up with use cases to test this. Should be revisited in the future.

[2018-06-27 05:10] #3 closed

[2018-07-06 23:12] #10 closed

[2018-07-09 21:46] davedoesdev opened #16 "v2.2.0"
I see `package.json` is at 2.2.0 but npm is at 2.1.1.
Just wondered if you forgot to publish.
No worries if it's work in progress, feel free to close immediately.

[2018-07-09 21:47] davedoesdev commented on #16
Btw, great module- not failed yet.

[2018-07-11 07:31] davedoesdev opened #17 "Soft token for testing"
Do you know if there's a soft token library available that would be suitable to use for testing?

At the moment I use webdriverio and Firefox, which is fine but requires me to have a hard token plugged in and press the button multiple times on each test.

For one of my projects I saved the responses and then replayed them (ignoring replay errors).

However it would by nice to have a library/progra

[2018-07-11 07:52] davedoesdev commented on #17
`security.webauth.webauthn_enable_softtoken` might do the trick

[2018-07-11 16:03] apowers313 commented on #17
I use helpers rather than live data:

https://github.com/apowers313/fido2-helpers

For final testing after deployment, I have a collection of U2F and CTAP tokens, as well as the Windows 10 Insider release that has a built-in authenticator.

Hope that helps.

[2018-07-11 16:06] apowers313 commented on #16
Thanks :)

The new features in 2.2.0 are extensions and MDS support. The problem I've encountered with deploying them are:

1. The AppID extension (which is the only one the browsers will support in the short term) only supports the U2F use case; that would require me building a U2F server and registering authenticators as U2F just to test it out.

2. Currently there are no authenticators with AAG

[2018-07-11 16:06] #16 closed

[2018-07-12 06:35] davedoesdev commented on #17
Mozilla soft token works a treat

[2018-07-12 06:35] #17 closed

[2018-07-12 06:40] davedoesdev commented on #16
No problem. I was hoping to pick up https://github.com/apowers313/fido2-lib/commit/f8f1e39f7a4ab3eb0299f0b1ae54ef3817ccd9a3 but can live without it.

[2018-07-27 06:11] pkuntal opened #18 "Attestation formats comes as "None""
Hi Adam,

I am trying to receive TPM attestation statement and that's why setting attestation:"direct" in create() but still fmt in response comes as "none". How we can instruct Authenticator (Windows Hello) to use TPM as cryptographic engine.
Does none means TPM is not used for cryptographic operation?
AAGUID coming as {08987058-cadc-4b81-b6e1-30de50dcbe96} which indicates hardware authenticator.

[2018-09-24 20:31] apowers313 commented on #18
Have you tried this lately?

[2018-09-25 05:53] pkuntal commented on #18
Yes I tried with Windows RS5 17713 version.

[2018-10-09 21:30] AdamUCF commented on #18
From Microsoft's [docs](https://docs.microsoft.com/en-us/microsoft-edge/dev-guide/windows-integration/web-authentication)...

To receive a TPM attestation statement, set attestation to "direct" when calling the create API. TPM attestation is a best effort. Only PCs with TPM 2.0 will return a TPM attestation statement, and the attestation process could fail for a variety of reasons.

[2018-10-31 22:35] reardencode opened #21 "rpIdHash validation incorrectly requires rpId to exactly match origin domain"
I believe the webauthn spec allows rpId to be a registrable suffix of the origin domain, but https://github.com/apowers313/fido2-lib/blob/master/lib/validator.js#L365 only allows it to be exactly equal to the client origin domain.

Maybe Fido2Lib options.rpId should be used here, and `rsl` might need to be checked to verify that options.rpId is a registrable suffix of clientDataJSON.origin.

[2018-11-09 01:33] odensc opened #23 "authnrData rawAuthnrData should be ArrayBuffer"
I'm getting an error, `authnrData rawAuthnrData should be ArrayBuffer`, when calling `assertionResult`. I passed everything required in the docs to the function.

[2018-12-07 02:18] fgervais opened #24 "Can we add attestations in u2fRootCerts.js"
I'm having discussions with a FIDO2 authenticator manufacturer to get their public attestation key.

If they allow me can I PR the addition of the key in u2fRootCerts.js?

Would that make https://webauthn.org/ able to validate the attestation?

Right now it's giving me the boring:

[code]

[2019-01-10 06:19] goldenbearkin commented on #23
Yes. me too.  Any solution or workaround?

[2019-01-10 07:31] odensc commented on #23
Couldn't figure it out - I'm assuming there's a missing piece somewhere in the docs.

[2019-01-10 07:34] goldenbearkin commented on #23
@apowers313 Could you help on this?
Many thanks

[2019-01-10 10:19] goldenbearkin commented on #23
@odensc I just made a PR, only one liner changes. Please see if it works on your side.

[2019-03-28 06:27] zhouyuexie opened #28 "The latest version of 2.1.1 does not contain android-safetynet"

[2019-05-20 15:02] kg0r0 opened #29 "In the case of localhost, this library returns an error like "origin should be https""
In the case of localhost, there should be no problem even if it is not https.

https://developer.mozilla.org/en-US/docs/Web/API/Web_Authentication_API

I think in the case of localhost should be excluded this error.
https://github.com/apowers313/fido2-lib/blob/7341fc49479bd736b1f1b57860bcec480d1ea744/lib/utils.js#L157-L159

[2019-06-02 07:26] mofelee commented on #29
https://github.com/apowers313/fido2-lib/pull/19

[2019-06-02 15:35] kg0r0 commented on #29
Thank you for letting me know.

[2019-07-14 15:37] kg0r0 opened #31 "Does not support self attestation"
The following error occurred when using MacBook TouchID as a authenticator.
[code]
Looks like fido2-lib doesn't support self-attestation.So we can not use TouchID as a authenticator.

[2019-07-15 21:32] Wesseldr opened #33 "authenticatorSelectionCriteria and attachment are incorrect property names."
Fixed in pull request: https://github.com/apowers313/fido2-lib/pull/32

**authenticatorSelectionCriteria**
The field _authenticatorSelection_ is of type _authenticatorSelectionCriteria_ but the name should be _authenticatorSelection_ according to the [w3c: authenticatorselection](https://www.w3.org/TR/webauthn/#dom-publickeycredentialcreationoptions-authenticatorselection) Changing the property na

[2019-07-16 10:12] Wesseldr opened #34 ""found 10 vulnerabilities" it's only istanbul 1.1 producing that.. please update to nyc"
Hi,

During npm install, it looks very "_scary_" with found **10** vulnerabilities (1 low, 6 moderate, 2 high, 1 critical), however its only good old obsolete istanbul generating all these depreciation errors.  I'm lacking any knowledge of the auto build street what the impact is if I replace this with nyc.

Is there anybody who could just upgrade this to nyc 14.x so we get rid of these depreciati

[2019-07-17 21:19] davedoesdev opened #36 "Certificate expired on https://webauthn.org"
Expires On	Sunday, 16 June 2019 at 14:45:01

[2019-07-21 10:08] Wesseldr commented on #34
FIX-ed: https://github.com/apowers313/fido2-lib/pull/39

[2019-07-21 10:08] #34 closed

[2019-07-30 09:15] Wesseldr commented on #23
It looks like assertionResult does not give this error anymore? Or is my input from a yubi key not affected by this PR?

[2019-08-01 22:57] davedoesdev commented on #23
I've always converted it to an ArrayBuffer first but no problems once I've done that

[2019-08-02 01:10] Wesseldr commented on #23
Hope it is picked up soon :-)

[2019-08-13 14:41] kg0r0 opened #40 "Error in an environment where version 3 python is installed as a python command"
When installing fido2-lib, if the python command is version 3, the following error will occur.
[code]

[2020-02-27 04:31] sachaw opened #45 "Current status of this repo"
I recently stared using this repo, however it seems the be stale, there are many open PR's solving various issues, @apowers313 is there any chance some of these can be merged, or could someone be appointed to manage this repo?

[2020-03-04 23:29] davedoesdev commented on #45
It would be great if this could become a community project. I'm happy to help out and share maintenance. @Wesseldr @jedrivisser what do you think?

[2020-03-05 20:20] jedrivisser commented on #45
I made some fixes that I tried to merge in a while ago and used for personal projects, but I have not used this library in a while.

[2020-03-06 21:54] davedoesdev commented on #45
@jedrivisser are you using a different library or moved away from WebAuthn?

[2020-03-07 09:11] davedoesdev commented on #45
@apowers313 would you be open to letting someone else maintain this project, and/or putting it under a separate organisation?

[2020-03-09 12:18] jedrivisser commented on #45
I moved away. But feel free to ask if some of the changes I made are not clear

[2020-03-10 08:43] sachaw commented on #45
When was the last time anyone had any contact with @apowers313 Seems he hasn't been on GitHub this year, looking at his profile, may be worth sending him an email.

[2020-04-07 06:40] sachaw commented on #45
I sent him an email today, hopefully he gets back to me soon

[2020-04-13 21:55] JamesCullum commented on #45
Otherwise could we maybe move this into a non-profit account and use that one as active fork? It would be great to use all the new developments and allow bugfixes, instead of having to resort to patching libraries.

[2020-04-14 00:51] sachaw commented on #45
Great Idea, How about `FIDO-Tools`

[2020-04-14 01:00] sachaw commented on #45
Feel free to suggest any organizational changes (Will need to update readme to credit @apowers313 and outline reasons for the repo/org existing) but here we go: https://github.com/FIDO-Tools/fido2-lib
have contacted GitHub to get the fork dependency removed: (how is this still a requirement in 2020)

[2020-04-14 07:22] JamesCullum commented on #45
Hm that is not really what I imagined when talking about a non-profit org, because it is very intransparent who owns the organization. It would be great if you could make it more transparent.

We will also need to connect it back to travis and make it available on npm, as well as merging all relevant PRs in the fork. I will do some playing with my fork and see if all works out.

[2020-04-14 08:07] JamesCullum commented on #45
I've done all of it here (publish to npm, rewrite pages, set up CD etc) and will merge all good PRs from here then: https://github.com/jamescullum/fido2-lib

[2020-04-14 08:34] Wesseldr commented on #45
Thank You James! Great work!

[2020-04-14 09:04] JamesCullum commented on #45
They used to havea  list of reference implementations, but I don't find that page and link to this library anymore. Do you have it somewhere? I will google for other references to this library and ask them.

[2020-04-14 13:32] sachaw commented on #45
Great work, The reason I think its best placed in an organization is that maintainers can come and go with very little changes, and I agree, at-least shoot the FIDO Alliance an email, (anyone wants to do it? I don't mind doing it otherwise)

[2020-04-14 13:35] JamesCullum commented on #45
I agree that an organization is a good approach, but it should be a real organization, not just one on Github, so that there is credibility behind it and people can use it for their projects without worrying about opening themselves up to a supply chain attack.

I wasn't able to find a good contact for the FIDO Alliance, so you're more than welcome to shoot the email :)

[2020-04-14 13:36] sachaw commented on #45
@JamesCullum As you mentioned transparency, I believe it's fully transparent, just see https://github.com/orgs/FIDO-Tools/people also an org is not tied to an account.

[2020-04-14 13:37] sachaw commented on #45
@JamesCullum If you don't mind on elaborating on "real orginization", not quite sure what you think this would entail

[2020-04-14 13:40] JamesCullum commented on #45
I mean something like the FIDO Alliance or OWASP - a real organization, a legal entity. Someone who can manage maintainers for a long time and with a sincere goal.

Of course your Github organization shows you behind it, but as it's not clear who that exactly is, an org would make more sense for me.

[2020-04-14 13:45] sachaw commented on #45
That would be great, however a few issues I see:
Firstly, as of right now, this is only to maintain one package, and may not extend past that, as such that stance may be "overkill".

Secondly, that approach seems heavy handed and would require much more discussion and fleshing out, positioning any work that could be being done on the repo.

And personally I don't believe there needs to be another

[2020-04-14 13:50] JamesCullum commented on #45
I don't really mean the org managing it in a big way, but the org taking responsibility for assigning and checking maintainers (OWASP does it this way, for example). I agree with your points - hence until then, my fork could be sufficient.

However when we talk about a future-proof solution, where no single anonymous person is in control of it, there won't be a way around having an org manage it.

[2020-04-14 13:54] sachaw commented on #45
Don't mean to be rude, but I think that the github org I created fulfills that, we outline a few admins and if the time comes when people have moved on new maintainers can be brought in, the org is not tied to my account in any way like your fork is, so I believe using the org I created is best (I sent you an invite)

[2020-04-14 13:57] sachaw commented on #45
may be easy to do it this way: https://help.github.jp/enterprise/2.11/user/articles/transferring-a-repository-owned-by-your-personal-account/
let me know and I can delete the existing fork

[2020-04-14 14:02] JamesCullum commented on #45
Hmm I worry a bit about the accountability and security behind such an anonymous organization, but we can give it a shot. If you delete your fork, I will move mine there and we set up the org as good as possible.

[2020-04-14 18:06] apowers313 commented on #45
Hey y'all, sorry I've been neglecting this for so long. As a bit of background, I was working for FIDO when I started this project and then I was going to start a consulting company (WebAuthn Consulting). As I was trying to convince Amazon to be one of my first customers, they convinced me to come work for them instead and they have kept me plenty busy since then.

I have totally been ignoring thi

[2020-04-14 18:18] JamesCullum commented on #45
Hey @apowers313 - great to hear back from you! We could either add maintainers to this project or move it into an organization, which would have less impact for your account. Which way would you prefer?

[2020-04-14 22:58] sachaw commented on #45
I agree with @JamesCullum Since there a few repos, having them all in one place would be great.

[2020-04-15 08:09] JamesCullum commented on #45
@apowers313 I've invited you into the org - if you can move your package there we can take care of pushing all updates there. However we will then need to re-associate Travis and set up automatic deployment to your existing npm package.

[2020-04-16 21:09] apowers313 commented on #45
Thanks, I'll work on transferring over packages tonight. Do you want all of them, or just this one?

[2020-04-17 02:14] sachaw commented on #45
I think all of them, as there's certainly quite a few that are closely related and need maintaining

[2020-04-18 14:33] apowers313 commented on #45
Sorry, I don't see the organization invite... which organization is it?

[2020-04-18 14:44] sachaw commented on #45
Just use the org you just created, there was nothing much in place yet anyway, set up up how you want and we'll go from there

[2020-04-18 15:07] apowers313 commented on #45
Up and running: https://github.com/webauthn-open-source

Anyone that's interested in joining should ping me.

I think I transferred over all the interesting / real projects. I had some Polymer / web component stuff and half-finished authenticator code. Let me know if that's of any interest, or if it would just junk up the organization.

I also transferred over the [WebAuthn logos](https://github.c

[2020-04-18 15:13] JamesCullum commented on #45
What about the npm org?

[2020-04-22 13:55] martinord commented on #45
Hi there!

Just found this issue and I think it would be interesting to show my interest here. I am a **final year CS student** doing my dissertation on WebAuthn and I am using this library to build a tool for debugging authenticators.

I can offer my modest experience and give a hand by contributing to the project. I'm looking forward to see a nice community around this! Of course, as @JamesCullu

[2020-04-24 15:02] martinord commented on #23
I actually spent many hours with the same problem. Just found the PR solves it. Hope new mainainers can merge it soon :)

[2020-06-01 18:37] martinord commented on #45
Hey!

I'm currently using the npm packet `fido2-lib` and seems to be an older version than the project here. How can we get this package updated? Did the org get transferred @apowers313 ?

I found one published 5 months ago: https://www.npmjs.com/package/fido2-lib-node. Do you know any alternative to this? @JamesCullum

[2020-06-01 22:24] JamesCullum commented on #45
@martinord Sadly @apowers313 did not complete any handover - he did not give us access to npm or gave us write permission to any repository.

My fork was moved to another org and after being accidently deleted twice lost the links to the comments I've made here. However I am currently using and will be using and maintaining my fork until this one is maintained again. You can find it here: https://

[2020-06-02 08:50] martinord commented on #45
@JamesCullum Oh I see. Then I will consider using your fork then, hope in Adam comes back to give permissions so all the efforts can be united.

I was thinking on doing a PR, should I do it on your fork or here?

[2020-06-02 14:21] JamesCullum commented on #45
I think its the best if you create a fork of this repository, add your changes and create a PR for both. One time the effort, but your changes can be integrated in both cases :)

[2020-06-03 13:31] martinord opened #48 "Android SafetyNet not working"
I tested on production the `android-safetynet` attestation. However, it is not working as currently it is not doing any of the checks required by WebAuthn (https://www.w3.org/TR/webauthn/#android-safetynet-attestation) nor the `androidSafetyNetValidateFn()` is returning `true`.

I also detected this function also needs to include the changes in the journal for it work.

I'm making a PR with this t

[2020-06-26 22:29] rmhrisk commented on #45
@apowers313 any updates on your plans if any to add other maintainers?

[2020-07-07 23:08] davedoesdev commented on #45
In case anyone's interested, I've been working on an alternative: https://github.com/davedoesdev/webauthn4js

I'd welcome your feedback. No doubt it needs some work but I thought I'd mention it in case it's of any use to someone.

[2020-11-28 16:38] JamesCullum commented on #45
He added other maintaoners, but didn't grant us any permissions. The maintained fork is available here: https://github.com/FIDO-Tools/fido2-library

[2020-11-28 18:08] apowers313 commented on #45
I can add some more this afternoon and grant others permissions. Who should I add and who should I give the right to add more?

[2020-11-29 09:05] JamesCullum commented on #45
Thanks - we can keep it like this for now and can add people for specific parts down the road. I will go through this repository later on, but we still have the issue with the npm connection - even a maintained repository will not update the real package.

@apowers313 can you provide us inside the team (there is a chat) with access to the npm package?

[2020-11-29 10:24] #48 closed

[2020-11-29 10:31] #23 closed

[2020-11-29 10:41] JamesCullum commented on #33
Merged

[2020-11-29 10:41] #33 closed

[2020-11-29 13:22] thgreasi opened #54 "Tests fail on travis CI"
https://travis-ci.org/github/webauthn-open-source/fido2-lib/builds/746552784

[2020-11-29 14:22] #54 closed

[2020-11-29 14:25] JamesCullum commented on #36
Updated link to a maintained webauthn demo page

[2020-11-29 14:25] #36 closed

[2020-11-29 14:25] JamesCullum commented on #29
Fixed as can be seen there

[2020-11-29 14:25] #29 closed

[2020-11-29 14:25] JamesCullum commented on #28
Should be supported now thanks to a PR

[2020-11-29 14:25] #28 closed

[2020-11-29 14:26] JamesCullum commented on #24
Webauthn.org is not maintained and linked anymore. Please contact the author of the new page for such demonstration.

[2020-11-29 14:26] #24 closed

[2020-11-29 14:27] JamesCullum commented on #21
Same feature is worked on here: https://github.com/webauthn-open-source/fido2-lib/pull/52 Will close here in the meantime

[2020-11-29 14:27] #21 closed

[2020-11-29 14:28] JamesCullum commented on #31
I believe this was fixed - can you re-test?

[2020-11-29 14:29] JamesCullum commented on #18
Can you test this again and provide feedback?

[2020-11-29 14:30] JamesCullum commented on #15
Looks like a good first issue for contributors - waiting for a PR

[2020-11-29 14:35] #8 closed

[2020-11-29 14:36] JamesCullum commented on #8
As webauthn has practically replaced u2f in practical usage, I believe this won't be needed anymore.

[2020-12-03 16:11] kg0r0 commented on #31
@JamesCullum
Thank you for your reply.
I tried this. But it didn't seem to be fixed.
SELF Attestation is used by the authenticators that don’t have “x5c” and “ecdaaKeyId.

https://herrjemand.medium.com/verifying-fido2-packed-attestation-a067a9b2facd#6081

However, the code below doesn't seem to explain what to do in the above case.

https://github.com/webauthn-open-source/fido2-lib/blob/6ab981a919

[2020-12-04 08:27] JamesCullum commented on #31
Hey @kg0r0 thank you for the feedback and testing! There were many commits in the meantime, so I wanted to make sure this is not part of anything that happened in between.

It would be highly appreciated if you could contribute this part - I will have to look up what the best way is to test this.

[2021-01-12 12:40] JayHelton commented on #45
Hello! What is the difference and status of this repository, versus https://www.npmjs.com/package/fido2-library?

I see that the latter is both ahead and behind commits from the forked origin.

@JamesCullum

[2021-01-13 08:18] JamesCullum commented on #45
Hey @JayHelton, the fido2-library represents the code of the fork, which used to be the only way to receive updates as there was no maintenance possible in this repository. As I was finally given permission to merge changes here, I was able to merge most changes back to here and implement most things.

However as @apowers313 has not shared any access to npm, the package associated with this code h

[2021-01-14 03:34] apowers313 commented on #45
Happy to transfer over the npm. Want to spin up a new group to own it or something?

[2021-01-14 08:05] JamesCullum commented on #45
Hey @apowers313, I would leave it as it is - will just need the npm token for deployment.
If you could mail it to me or set it yourself in Travis, both is fine 👍

[2021-02-05 11:49] martinord commented on #45
Hi there! Any updates on this? @JamesCullum are you already able to update the npm `fido2-lib`? If so, you may update the `README`. I'd like to know the status so I can switch back to this maintained repo and npm packet. Thanks

[2021-02-05 12:40] JamesCullum commented on #45
No worries - once I am provided access to the npm repository, I will publish it everywhere. However so far there has been no progress in granting access to the package.

[2021-02-21 17:55] apowers313 commented on #45
@JamesCullum what's your npm username so that I can add you as a maintainer?

[2021-02-21 18:45] JamesCullum commented on #45
@apowers313 My npm username is `jamescullum`

[2021-05-04 06:52] martinord commented on #45
Hi! Any updates on this?

[2021-05-04 07:17] JamesCullum commented on #45
Sadly none, I still don't have access to the npm package.

[2021-05-04 11:32] sachaw commented on #45
I think this library would suit people a lot better, and it's also FIDO conformant https://github.com/MasterKale/SimpleWebAuthn

[2021-06-15 13:29] JamesCullum commented on #45
Just noticed that I do actually have access in npm. Will try to update the code here again to be at the same code state as fork.

[2021-06-15 13:29] #45 closed

[2021-06-16 15:28] efabris opened #57 "Wrong Check of UP flag"
Hello,

Both in the Assertion and Attestation validation the WebAuthn guideline specify these controls:

- _Verify that the User Present bit of the flags in authData is set._
- _If user verification is required for this registration, verify that the User Verified bit of the flags in authData is set._

The library get the flags to be verified from the expectations that are parsed by this function:

[2021-06-20 16:00] JamesCullum commented on #57
It reads like you already made the changes - if you put them into a PR its easier for me to see the difference and judge it based on that 👍

[2021-06-29 03:10] Himself65 opened #58 "Node 16 build error"
[code]

[2021-07-02 14:42] JamesCullum commented on #58
Can anyone confirm this? CI runs fine with Node16: https://github.com/webauthn-open-source/fido2-lib/runs/2831231532?check_suite_focus=true

[2021-07-02 14:58] JamesCullum commented on #58
A new version was just released, you can try that as well

[2021-07-05 05:11] Himself65 commented on #58
[code]

[2021-07-05 05:32] Himself65 commented on #58
I think you have to upgrade `node-webcrypto-ossl` to the latest.

see https://github.com/PeculiarVentures/node-webcrypto-ossl/issues/172

[2021-07-05 09:32] JamesCullum commented on #58
Maybe you can test this locally and verify if this update fixes it? As mentioned, in CI we don't encounter this issue.

[2021-07-05 09:41] Himself65 commented on #58
of course CI is right because is a macOS issue. you only test the ubuntu

[2021-07-08 07:55] JamesCullum commented on #58
Thanks for the extension of the test coverage - now we see the errors. Upgrading didn't fix it, though.

[2021-07-08 08:46] JamesCullum commented on #58
Major version was still on 1 - changed it to v2, now it works

[2021-07-08 08:46] #58 closed

[2021-07-09 05:14] Himself65 commented on #58
That's great, thanks!

[2021-07-13 09:35] efabris commented on #57
I have changed the code in the issue with a more comprehensive and backward compatible solutions.
I'll put the changes in a pull request so we can going on discussing the issue.

[2021-07-13 20:55] JamesCullum commented on #57
Thanks, tracking in PR

[2021-07-13 20:55] #57 closed

[2021-08-11 13:35] vigan-abd opened #62 "support for u2f migrated appId"
According to [yubico docs](https://developers.yubico.com/WebAuthn/WebAuthn_Developer_Guide/Migrating_from_U2F.html) in case of u2f migrated credentials the assertion challenge should include also `appid` extension. In that case the credential manager in browser uses appid as rpId, and this is failing in validation of checkRpId or validateRpIdHash because it requires rp id to be a full domain aand

[2021-08-17 14:28] efabris opened #64 "Add support for authenticator extension"
Hi @JamesCullum,

Currently the parseAuthenticatorData function [throws and error](https://github.com/webauthn-open-source/fido2-lib/blob/235973322910c057d25df6ac511a7988239a7451/lib/parser.js#L320) if the ["ED" flag is present](https://github.com/webauthn-open-source/fido2-lib/blob/235973322910c057d25df6ac511a7988239a7451/lib/parser.js#L302) in the authenticator data.

This behaviour blocks the p

[2021-08-17 14:48] JamesCullum commented on #64
To make sure I understand this - you mean that the server owner can configure a custom method to verify the data? If none is configured, it will be rejected or passed?

[2021-08-17 15:07] efabris commented on #64
In a first minimal implementation the validateExtensionData check the type of the parsed extensionData. In future we could provide the custom method in the expectations, if none is provided no additional validation is executed. So if none is configured the validation is passed.

[2021-08-17 18:02] JamesCullum commented on #64
Ok, so my understanding is correct that the programmer of the application using this library has to validate this?

Idea sounds good, a PR would be highly appreciated 👍

[2021-08-18 06:58] efabris commented on #64
Yes. I'll complete the test and i'll create the PR with the minimal implementation to add support to extension.

[2021-08-24 08:30] efabris commented on #64
@JamesCullum, investigating more deeply the code I noticed that a mechanism to parse and validate the extensions exists. There is a procedure to register extension written by the RP programmer using this code:

[code]

This can be found in the doc of the project: [addExtension](https://webauthn-open-source.github.io/fido2-lib/Fido2Lib.html#.addExtension) and [enableExtension](https://webauthn-open

[2021-08-24 08:46] JamesCullum commented on #64
Sure, the more you can utilize it, the better.
Lets make sure we also document this cleanly and have an example, so that other people find this easier 👍

[2021-10-11 09:35] #62 closed, assigned to vigan-abd

[2021-10-15 07:49] davidthornton opened #65 "Add support for `fmt: 'apple'`"
Hi all,

Is it possible to mainline the Apple attestation format into this to create a sort of "commercial omnibus" canonical node library?

This might help/promote adoption?!

If you are open to external contribution and contributors -- I will definitely submit a PR for this!

Thanks,
David

[2021-10-27 17:02] ais-one opened #66 "Use Native webcrypto"
I was wondering if we could use native webcrypto (available since Node 15).

This is because the node-webcrypto-ossl package has really old dependencies (using node-gyp 3.8.0 which uses python2)

Anyway since the browsers have to support fido on the client side also, I think it is worthwhile to also let the backend require a higher node version.

[2021-10-27 19:52] #66 closed, assigned to nobody

[2021-11-02 21:21] bfritscher opened #69 "Error: packed attestation: unknown algorithm: -257 with windows Hello"
Library works great with chrome+ android phone as mfa, but when trying to register with windows hello I get: Error: packed attestation: unknown algorithm: -257
node_modules/fido2-lib/lib/attestations/packed.js:45:9

Is there any special configuration to setup for windows hello to work?

[2021-12-15 20:50] wmacomber commented on #69
This is a legit question.  The library claims to be compatible with Windows Hello, but when Windows Hello is used, it uses algorithm -257 (per https://www.iana.org/assignments/cose/cose.xhtml#algorithms it lists RS256 | -257 | RSASSA-PKCS1-v1_5 using SHA-256).  fido2-lib/lib/attestations/packed.js only lists -7, -35, and -36 in its algMap variable, which causes "Error: packed attestation: unknown

[2021-12-16 14:41] JamesCullum commented on #69
Any (easy) fix for this?

[2022-01-03 15:42] Antony1060 commented on #64
Any updates on this?

[2022-01-04 01:51] popeeyy opened #70 "MDS Issues"
I was implementing MDS according to the documentation which gives this example:
[code]

After downloading the TOC from the provided url, I discovered that the default certificate was not valid, so I added the one provided. From there, I ran into more issues. The structure seems to be completely different than what is coded. I decoded the JWT so I could take a look for myself what the returned stru

[2022-01-04 08:46] JamesCullum commented on #70
I'm not aware of any design differences, but I also don't own a Yubikey 5 to check.
Do you think you can provide the changes in a testable manner, so that we can benefit from your experience?

[2022-01-04 19:13] efabris commented on #64
Hi Antony, in these months i had to work on other tasks. However you can use [my fork of this project](https://github.com/efabris/fido2-lib/tree/extension_support) if you need basic support for extension. Still not ready for merge but it works.

[2022-01-04 22:17] popeeyy commented on #70
According to the documentation, the following code should work after installing fido2-lib and axios:

[code]

However, in order to get it to work, I had to install [my fork](https://github.com/popeeyy/fido2-lib/tree/metadata-fix) rather than this library and uncomment the code above. My fork is obviously just a rough fix as I tried to figure out the issue, and I am not sure if any major changes to

[2022-01-05 08:33] JamesCullum commented on #70
Thanks for the clarification - can we make it compatible with the previous and new format? Is there an identifier?

Did you try running your fix against the test suite?

[2022-01-05 19:00] JamesCullum commented on #64
Any progress on a PR?

[2022-01-17 18:35] agmcleod commented on #31
The spec refers to steps to verify if x5c is not present. https://w3c.github.io/webauthn/#sctn-packed-attestation. This express package does have an implementation: https://github.com/strangerlabs/webauthn/blob/master/src/Webauthn.js#L417, which this package is based off of the fido alliance demo. Though said demo is missing self attestation, tpm, etc.

[2022-01-20 13:56] JamesCullum commented on #31
Can you contribute this @agmcleod ?

[2022-01-20 15:54] agmcleod commented on #31
@JamesCullum i have it working with attestation for touchid on my mac, i just haven't been able to get the login (authentication assertion) working yet. Not sure if it's something in the library or something i've missed in my own application code.

Essentially the userHandle in the credential object on the frontend is the 32 byte array buffer that i passed down when the credential was created in t

[2022-01-23 09:35] JamesCullum commented on #31
I think thats the typical FIDO flow anyways, isn't it? Quite certain the OWASP example does that as well. Thanks for the PR, let's continue there 👍

[2022-02-02 20:03] #70 closed

[2022-02-02 20:10] #31 closed

[2022-02-02 20:11] #1 closed

[2022-02-06 12:57] 2248064246 commented on #69
/node_modules/fido2-lib/lib/attestations/packed.js
[code]

[2022-02-07 18:19] fvthakor opened #75 "How to get unique key from security key"
Like I have already registered key then try to register again then show me that the key already registered

please help me

[2022-02-08 20:57] JamesCullum commented on #75
This is a development library - please contact the owner of the application you are trying to use, on how to deal with (un)registering a token.

[2022-02-08 20:57] #75 closed

[2022-02-08 20:59] JamesCullum commented on #69
That looks like an easy fix - can we make a test case out of it and integrate it?

@2248064246 as you appear to have a good setup to test this, can you add this change, add a test and create a pull request?

[2022-03-09 08:21] p0vidl0 opened #76 "Support for Android/iOS authenticator?"
Found this project as the most full FIDO2 implementation but can't make it work for Android mobile app case.

The `attestationResult` function throws the `origin was malformatted` error because the origin is not a valid web-URL and not started with https
The `clientDataJSON` is following for attestation and the same, but with `"type": "webauthn.get"` for the assert:
[code]

Can some one advise, pl

[2022-03-11 07:17] olan-a21 commented on #65
Any update on this one?

[2022-03-12 13:56] JamesCullum commented on #65
There is no PR for this yet, so feel free to create one 👍

[2022-03-29 20:46] Hexagon commented on #69
Don't know why, but https://github.com/hexagon/webauthn-skeleton works as a charm with Windows hello (+android lock screen, +yubikey)

[2022-04-10 09:38] Hexagon opened #79 "Feature request: Support for Deno/ESM"
Would be really nice if this lib supported Deno and moved away from CommonJS!

I'm experimenting on porting fido2-lib to a dual mode Node/Deno-lib on my own, and migrating everything to ES6 while at it. But I guess the changes are too big to "pull back" into this lib (?).

What need to be done/What I'm experimenting on:

*  Reduce usage on Node-specific stuff; Replace Buffer with ArrayBuffer, repl

[2022-04-10 10:19] JamesCullum commented on #79
Additional support is great, less support is bad. According to your fork, your version

I hope you understand that this wouldn't feel like an upgrade for most users. Can you clarify what the benefit of deno is, in this case? We can aim to focus on its core value.

[2022-04-10 11:01] Hexagon commented on #79
I intend to implement all attestation modes and MDS in the long run. The pro/con list is just a glimpse at the current state. I'll add a clarification on that. I'll also make it a little clearer that @hexagon/webauth is more of a proof of concept than something production ready 👍

Deno is hopefully the future. It is essentially Node.js with typescript, linting, bundling and nvm built in in a singl

[2022-04-10 14:48] JamesCullum commented on #79
That sounds like an interesting direction, but a lot of work and nights away. Maybe you can continue working on your fork and once you have the compatibility and tests implemented we can consider whats the best way to bring it together? 👍

[2022-04-17 14:13] molekilla commented on #79
Would be useful to be full ESM. I had to fork it...

[2022-04-21 21:03] Hexagon commented on #79
Current state in PR #80

[2022-04-25 20:09] Hexagon commented on #79
Update 2022-04-25

#### Status of @hexagon/webauthn  - Dual platform - Deno first - Node built

[https://github.com/Hexagon/webauthn](@hexagon/webauthn) is pretty much in sync with fido2-lib now.

- All features are implemented
- All Node tests implemented
- Deno first approach, where dependencies are imported by Deno, and a platform independent bundle with zero dependencies is built (`dist/webaut

[2022-04-26 06:53] JamesCullum commented on #79
Thanks - so everything works as before, just with added Deno support?
Or is it a major change with new syntax etc?
If you say its ready I will start my review 👍

[2022-05-09 22:15] Hexagon commented on #79
New PR opened, #83, with the same result as #80, but much less changes to the code base and file structure. This time i also left Deno outside to keep the PR as small and reviewable as possible.

[2022-05-12 20:27] #79 closed

[2022-05-12 21:49] Hexagon opened #86 "Cannot upgrade pkijs past 2.1.60"
Cannot figure this one out...

All is ok with pkijs@2.1.60 - Error with pkijs@2.1.61

[code]
Failing test:
https://github.com/webauthn-open-source/fido2-lib/blob/e60117e18244c4cf9420d026b957a55d17e71d5a/test/certUtils.test.js#L531

Related certs available here:
https://github.com/webauthn-open-source/fido2-lib/blob/e60117e18244c4cf9420d026b957a55d17e71d5a/test/helpers/fido2-helpers.js#L4598

Faili

[2022-05-13 06:38] JamesCullum commented on #86
MDS v2 is deprecated - maybe it was turned off and CRLs were taken down?

[2022-05-13 07:24] Hexagon commented on #86
Oh, there it is. If i "turn back time" the tests pass with latest version of pkijs. The failing tests needs to be disabled as they use expired certs and crls.

[2022-05-13 18:55] randomprogramming commented on #65
https://github.com/webauthn-open-source/fido2-lib/pull/87

[2022-05-15 08:25] #86 closed

[2022-05-22 19:01] Hexagon opened #91 "Cannot use with caBLE"
[code]

When using Chrome on computer, with a remote Android device as security key (over ble)- `getTransports()` return `cable`, which is not allowed by fido2-lib

[2022-05-22 20:32] #91 closed

[2022-05-26 05:49] #69 closed

[2022-05-30 19:40] Hexagon commented on #76
It would be farily easy to implement this, it would just be a matter of ignoring the regular origin checks, and allowing "android:apk-key-hash:*"...

It would be nice to have some documentation on this though. Like how is this origin composed - is there more to it than android:apk-key-hash, how does the equivalent in ios look. Etc...?

[2022-06-01 12:28] DavidSichau opened #96 "Update after 2.8.3 to 3.1.0 or later"
After updating the library to 2.8.3 from 3.1.0.

We observer the following error:

[code]

We have not changed any parts of our code.

We use yubikeys 5 with this library.

[2022-06-02 11:07] tmikaeld commented on #64
Any update on this? Is the fork still working?

Then maybe someone with more internal knowledge can pick it up, otherwise I'll pick it up in end of the year.

[2022-06-02 23:02] Hexagon commented on #96
Interesting!

Have you tried 3.1.7?
Which version of node?
Which version is the yubikey 5s?
Which configuration do you initialize fido2-lib with?
Can you share more info about the setup?

[2022-06-03 10:58] JamesCullum commented on #76
@p0vidl0 As you need it and have a test case, can you do a first version?
Or do we have another volunteer who can work on this?

[2022-06-06 19:21] #65 closed

[2022-06-07 07:44] DavidSichau commented on #96
Have you tried 3.1.7: yes
Which version of node: v14.19.1
Which version is the yubikey 5s: https://support.yubico.com/hc/en-us/articles/360013656980-YubiKey-5-NFC and https://support.yubico.com/hc/en-us/articles/360016649339-YubiKey-5C-NFC
Which configuration do you initialize fido2-lib with:
[code]

Can you share more info about the setup:
We use it in a meteor environment and on step we need to

[2022-06-07 18:27] Hexagon commented on #96
Great!

Do you have a traceback of where in fido2-lib the error occur, this would help in identfying exactly what goes wrong.

It do spontaneously feel like it has to do with the base64 encoding/decoding on your end. Some (many) values of Webauthn it expected to be in base64**url**-format, if you accidentally base64-encode a base64-**url**-string, and forget to base64-decode it back into base64url

[2022-06-07 20:35] randomprogramming opened #97 "Authenticating from multiple devices"
I am having trouble in understanding how exactly one would authenticate a user that wants to use multiple devices to log in.. Lets say a user has a mac laptop with touchId and a windows pc with a security key. I register on my laptop using my touch id. That generates a public key which is then saved, and I can log in just fine on my laptop. Now I switch to my PC and want to register. I understand

[2022-06-08 07:29] JamesCullum commented on #96
Bonus points if you can supply us with the exact request you're receiving - then we can better emulate it on our side and build a test case for the future from it 👍

[2022-06-08 07:34] JamesCullum commented on #97
FIDO2 uses a key generated on the device (in case of new iOS, it will be synced across devices in the future). This means that if you try to sign in from a different device, the authentication will fail.

AllowCredentials is just helping the client pick the right key for this specific website and authentication (eg multiple users registered). By telling the client which key you expect to receive,

[2022-06-08 07:50] randomprogramming commented on #97
Okay I found a chrome extension which can simulate security keys so I will start testing out with that, but I am not quite sure what you mean by `save the public key of the registered device and provide this during login in allowCredentials`.

So allowCredentials expects an (array of) Id, type and transports. The ID is the credential ID if I'm not mistaken. The type I understand how to get, but th

[2022-06-08 08:51] JamesCullum commented on #97
Sounds like maybe theres your confusion: Registration and Login are two different, distinct steps. If you want to add FIDO to your account, you need to already be signed in and add your device as 2nd factor, registering it. During login, the server can challenge you by asking you to reuse the same key to sign a statement, proving that its the same device as before.

Generally the client provides y

[2022-06-08 09:19] randomprogramming commented on #97
No I understand that.. But I have already implemented a system to register/login using only webauthn like the example at https://webauthn.io

Now let's say I want to login into the same account from a different device into that site.. I will again have to go through the process of registering that device(authenticator), and that will generate a new public key. But the user already has a public key

[2022-06-08 18:25] Hexagon commented on #97
@randomprogramming Check out https://56k.guru/webauthn for a minimal demo supporting this

[2022-06-08 18:45] randomprogramming commented on #97
Yep, that's what I thought I need to do, although I didn't know that the cred Id would also need to be saved in the DB. Thank you for the demo, helped a lot

[2022-06-08 18:45] #97 closed

[2022-06-09 06:08] DavidSichau commented on #96
Thanks for your support. Here the request that is sent with the data and the traceback.

The error occures in: `assertionResult`

I send the following data into this method:

AssertionResult:
[code]
ExpectedAssertionResult:
[code]

Traceback:

[code]

[2022-06-14 07:48] DavidSichau commented on #96
Hi thanks for your updated. We still have the error in the latest 3.2.2 version.

AssertionResult:

[code]
ExpectedAssertionResult:

[code]

Traceback of Error:

[code]

[2022-06-16 07:40] #96 closed

[2022-08-15 11:53] MxBlu opened #104 "Error registering a security key when requesting resident key"
Hi there,

I was interested in using the standard to implement both passwordless login as well as usernameless login, so I created a demo for it which allowed both forms: https://github.com/MxBlu/fido-poc

Unfortunately I've found that when requiring a resident key, the response cannot be parsed by the server using `attestationResult()`:

[code]

I can debug JS code, but decoding the CBOR response

[2022-08-18 09:26] HSMDBC commented on #64
Hi, have a look at this PR: #105

[2022-09-01 12:30] Hexagon commented on #104
@MxBlu Do the fix in PR #105 released in fido2-lib@3.3.0 change the outcome of this problem?

[2022-09-06 13:11] aarne opened #109 "Is there a reason to warn users about native crypto?"
For some reason the library uses default console warn facility to print a message "Native crypto is enabled" without any explanation why this warning exists or if we expect users to do anything about this.

console.warn("[FIDO2-LIB] Native crypto is enabled");

can be found in at least 2 places in the codebase:
https://github.com/webauthn-open-source/fido2-lib/blob/c38c2cc762830a09331106534d63003d

[2022-09-07 19:15] Hexagon commented on #109
+1

Native crypto works just as good as the polyfill* for fido2-lib, and native crypto is what's used under the hood most of the time (chosen automatically when running Node>=16 or Deno). The warning must be from when native crypto was experimental and incomplete.

So, i guess the warning could be removed?

PR welcome, flagging as good first issue!

(* = peculiar/webcrypto)

[2022-09-09 15:37] #109 closed

[2022-09-20 12:18] PathToLife opened #113 "Allow nullable userHandle as stated in specs"
Hi, I'm creating an issue here documenting the mismatch in specs and then making a quick PR.

## What
I get the error when running `assertionResult(response)`:
`TypeError: expected 'response.userHandle' to be base64 String, ArrayBuffer, or undefined`

`response.userHandle` is set to `null`

I modified the [`validateAssertionResponse` function](https://github.com/webauthn-open-source/fido2-lib/blob

[2022-09-25 09:07] JamesCullum commented on #113
Hmm for me undefined matches the spec closely enough, but I agree, that there are small nuances. Thanks for the issue and PR 👍

[2022-09-25 09:07] #113 closed

[2022-09-28 19:34] Hexagon commented on #64
@HSMDBC is this resolved by your PR, so we can close this?

[2022-09-28 19:37] Hexagon commented on #18
Bump. Adding tag "help wanted". Can anyone using Windows 11 (which most certainly have TPM 2.0 available) test this?

[2022-10-01 09:21] JamesCullum commented on #18
I have Windows 11 with TMP 2.0, but I'm not really sure of the test case.
Do we have a demo page that we can try for this?

[2022-10-01 10:53] Hexagon commented on #18
I'll have a look at improving https://56k.guru/webauth-debugger, so that attestation details is shown, then it will be a simple test case. :+1:

[2022-10-01 19:18] Hexagon commented on #18
@JamesCullum Done now.

1. Go to https://56k.guru/webauthn-debugger
2. Enter a username
3. Click "Start registration"
4. Check section "Pass credentials from RP", Object -> Response -> debugAttestationObject -> fmt
5. Should be anything but "none"

With Windows 10 and Windows Hello (TPM 1.0 activated) i get "packed" for attestation, for some reason. Better than none though :)

[2022-10-02 08:21] JamesCullum commented on #18
Thanks a lot, that's a great way to test! With Windows 11 I also get "packed" (via Windows Hello). Don't think we can currently reconstruct the issue without feedback from the issue creator, so I'd propose to close it.

[2022-10-02 13:36] Hexagon commented on #18
Agreed 👍

[2022-10-02 13:36] #18 closed

[2022-10-02 15:03] apowers313 commented on #18
Do you guys have TPM 2.0 chips in your Win11 boxes? If not, you wouldn’t get the attestation.

[2022-10-04 06:47] HSMDBC commented on #64
Yes, this issue can be closed. I addressed this in my PR

[2022-10-04 06:57] Hexagon commented on #64
Great, thank you! 👍

[2022-10-04 06:57] #64 closed

[2022-10-25 07:51] sunday18 opened #116 "Is MDS3 supported?"
Hi, MDS2 is going to be deprecated this month, may I know if FIDO Metadata Service 3 is supported? If no, is there any roadmap to support MDS3?

[2022-10-29 08:19] JamesCullum commented on #116
Yes: https://github.com/webauthn-open-source/fido2-lib/pull/71

[2022-10-30 20:13] Hexagon commented on #116
Reopening this as Readme does no mention about supporting MDSv3. Simple fix, but just so we remember it.

[2022-10-31 08:30] JamesCullum commented on #116
Updated

[2022-10-31 08:30] #116 closed